/* CSS for CoffeeGuide (site-wide) */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root{
    --primary: #254d4e;
    --background: #ffffff;
    --text: #372d29;
    --accent: #b8b8b8;
}

:root[data-theme="dark"]{
    --primary: #4e8080;
    --background: #2d2d2d;
    --text: #FFFFFF;
    --accent: #000000;
}

/* GENERAL STYLING ----------------------------------------------------- */

body {
    /* Global Typography */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text);
    
    margin: 0px;
    padding: 20px 150px;

    background-color: var(--background);
}

h1 {
    margin: 0;
    color: var(--primary);
}


/* LINKS STYLING ----------------------------------------------------- */

a {
    /* Remove browser styling from links */
    color: var(--text);
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px 0px;
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--accent);
}


/* NAV BAR STYLING ----------------------------------------------------- */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
}

nav a {
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: var(--primary);
}


/* CLASSES STYLING ----------------------------------------------------- */

.landing-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.hero-img{
    float: left;
    padding: 40px;
    width: 600px;
    height: auto;
}

.right-heading-and-text{
    width: 40%;
}



.intro-section {
    text-align: left;
    padding: 20px 40px;
    border-radius: 40px;
    background-color: var(--primary);
    color: var(--background);
}

.intro-section h3 {
    margin-bottom: 1rem;
    color: var(--background);
}

.intro-section span {
    font-weight: bold;
}



.heading-and-text {
    text-align: left;
    padding: 30px;
}

.heading-and-text h3 {
    margin-bottom: 1rem;
    color: var(--text);   
}

.heading-and-text p {
    margin-bottom: 1.5rem;
}



.issue {
    text-align: left;
    padding: 30px;
}


.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    color: var(--background);
    border: 1px solid var(--background);
    border-radius: 15px;
}

.button:hover {
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;   
}

.outro-section {
    padding: 40px;
    background-color: var(--primary);
    border-radius: 40px;
    color: var(--background);
    text-align: center;
}

.outro-section a{
    color: var(--background);
    text-decoration: underline;
    font-weight: bold;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.darkModeButton{
    position: fixed;
    bottom: 30px;
    left: 60px;
    z-index: 1000;

    background-color: var(--primary);
    color: var(--background);
    border-width: 0px;
    padding: 20px 20px;
    border-radius: 10px;
    width: 30px;
    height: 30px;

}


.darkModeButton.dark{
    background-image: url('../images/dark-mode.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-size: 80%;
}

.darkModeButton.light{
    background-image: url("../images/light-mode.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-size: 80%;
}



button.darkModeButton:hover{
    cursor: pointer;    
}





.progress-bar{
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 0%;
    background-color: var(--primary);
    height: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.heading-and-table {
    padding: 30px;
}


.coffeeCalcSection {
    padding: 30px;
}

.inputOutputWrapper{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.inputOutputWrapper select, input{
    width: 50%;
}

.inputOutputWrapper label{
    margin-top: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 20px;
    width: 50%;
    border-right: 1px solid var(--text);
}



.outputs{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 20px 20px 20px 40px;
}



/* Responsive styles */

@media only screen and (max-width: 600px) {

    html {
        border: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    body {
        margin: 0px 0px;
        padding: 0px 0px;
        font-size: 14px;
        width: 100%;
        
    }

    .landing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;    
        margin: 0px 10px;
    }

    .intro-section{
        margin: 0px 10px;
    }

    .heading-and-text{
        margin: 0px 10px;
    }

    .outro-section{
        margin: 0px 10px;
    }

    .recipe{
        margin: 0px 10px;
        text-align: left;
        padding: 10px 20px;
        margin: 0px 10px;
    }
    
    .hero-img{
        padding: 40px;
        width: 300px;
        height: auto;
    }

    .issue{
        margin: 0px 10px;
    }

    .right-heading-and-text{
        width: 90%;

    }


    nav{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0px;
        background-color: var(--background);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .welcome-section{
        padding: 10px 20px;
        margin: 0px 10px;

    }

    .feedback-form {
        text-align: center;
        margin: 0px 10px;
        padding: 10px 20px;
    }
    .feedback-form form{
        padding: 10px 60px;
    }

    form textarea{
        width: 70%;
        background-color: var(--background);
    }

    form input{
        background-color: var(--background);
    }

    .darkModeButton{
        position: fixed;
        bottom: 30px;
        left: 30px;
    }

    .progress-bar{
        position: fixed;
        top: 0px;
        z-index: 999;
    }

}
